body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(32, 79, 129);
  background-image: linear-gradient(rgb(32, 79, 129), rgb(16, 53, 90));
}

h1 {
  margin: 0;
}

button {
  border: none;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
